
body{
    background-color: gainsboro !important;
}



.custom-input {
    width: 50% !important;
}

.custom-input2 {
    width: 20% !important;
}

.custom-input3 {
    width: 60% !important;
}

.custom-input4 {
    width: 30% !important;
}

.custom-input5 {
    width: 80% !important;
}


.card-header{
    text-align: center;
}

.col-apellidos{
    margin-left: -25px !important;
}

.pbtn{
    padding-top: 30px;
    padding-bottom: 25px;
   
}

.for-card{
    padding-left: 25px;
}

.pselect{
    padding-top: 30px !important;
}

.ce{
    padding-left: 30px !important;
}

.ce-1{
    padding-left: 40px !important;  
}

.ce-2{
    padding-left: 40px !important;  
}

.search-container {
    position: relative;
  }
  
  #excel-button {
    position: absolute;
    top: 0;
    right: 0;
  }
  

@media (max-width: 576px) {
    .custom-input {
        width: 100% !important;
    }
}
